#btnSub{

    /*background-color: orange;*/
    /*color: ghostwhite;*/
    /*box-shadow: 2px 2px 4px #ffaa88;*/
}



.iconCountry {
    width: 35px;
    height: auto;


    /*position: absolute;*/
    /*top: 50%;*/
    /*left:50%;*/
    /*transform: translate(-50%,-50%);*/

}

.iconCountryRtl {
    width: 35px;
    height: auto;
    padding: 5px;
    margin-right: 7vw;
    border-radius: 50%;
}

/*.regPlace {*/
    /*margin-left: 5vw;*/
/*}*/

.img-center
{margin:0 auto;}

fieldset {
    border:1px #00BFFF solid
}