<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>EXODUS PROJECT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheets/font-awesome.min.css">


    <link rel="stylesheet" href="css/stylesheets/framework.css">
    <link rel="stylesheet" href="css/stylesheets/loader.css">
    <link rel="stylesheet" href="css/style_new_for_index_2.css">
    <link rel="stylesheet" href="css/style_for_registration.css">
    <link rel="stylesheet" href="css/ltrRtl.css">

    <script src="../Libraries/angular.js"></script>
    <script src="../EXODUS/js/MyApp.js"></script>
    <script src="../EXODUS/js/MyAppCtrl.js"></script>
    <script src="../Libraries/mask.js"></script>
    <script src="./js/select.js"></script>
    <link rel="stylesheet" href="./css/select.css">
<!--
    <script src="./js/uiSelectCtrl.js"></script>
-->

    <script src="./js/startsWith.js"></script>

<!--
    <link rel="shortcut icon" href="favicon.ico">
-->
    <script type="text/javascript" src="../Libraries/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="../Libraries/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../Libraries/angular-ui-router.min.js" ></script>
    <script type="text/javascript" src="../Libraries/angular-animate.js" ></script>
    <script type="text/javascript" src="../Libraries/angular-route-min.js" ></script>

<!--
    <script type="text/javascript" src="../Libraries/swiper.min.js" ></script>
-->


    <script type="text/javascript" src="../Libraries/jquery.customSelect.min.js" ></script>
    <script type="text/javascript" src="../Libraries/ui-bootstrap-tpls-0.14.3.js" ></script>
    <script type="text/javascript" src="js/select-tpls.js"></script>
    <script type="text/javascript" src="js/LanguageService.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">


    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
    </script>

    <style>
        body {
            padding: 15px;
        }

        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        .select-box {
            background: #fff;
            position: relative;
            z-index: 1;
        }
        .alert-info.positioned {
            margin-top: 1em;
            position: relative;
            z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
        }
    </style>
</head>
<body style="padding-top: 70px" ng-app="MyApp" ng-controller="MyAppCtrl as ctrl" ng-init="initApp()" dir="{{lang.dir}}">
<!-- style="padding-top: 70px" -->
<!-- Navbar -->

<nav class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
    <div class="container">
        <div class="navbar-header elemHeader">
            <a class="navbar-brand" href="#"><img src="img/img2/exodus_logo.png" width="138" height="30"
                                                  alt="logo" style="float: inherit"/></a>
            <a class="navbar-brand" href="#"><img src="img/img2/thlg.png" width="128" height="30" alt="logo2"
                                                  style="float: inherit"/></a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
           <!-- <ul class="nav navbar-nav navbar-left navbarLeft">
                <li style="float: inherit"><a href="#" ng-click="goToView('home')">{{lang.home}} <span class="sr-only"></span></a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('reg')">{{lang.registration}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('terms')">{{lang.terms}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('cat')">{{lang.rubricator}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('contacts')">{{lang.contacts}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('about')">{{lang.about}}</a></li>
            </ul>-->
            <ul class="nav navbar-nav navbar-left navbarLeft">
                <li style="float: inherit"><a href="#" ng-click="goToView('home')">{{lang.home}} <span class="sr-only"></span></a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('reg')">{{lang.registration}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('terms')">{{lang.terms}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('cat')">{{lang.rubricator}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('contacts')">{{lang.contacts}}</a></li>
                <li style="float: inherit"><a href="#" ng-click="goToView('about')">{{lang.about}}</a></li>
                <li ><a href="#admin">AdminPanel</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbarRight">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language<span class="caret"></span></a>
                    <ul class="dropdown-menu langUl" role="menu">                         <!-- style="text-align: right"-->
                        <li><a href="#" ng-click="changeLang('ENG')"><span >{{langDirective.ENG}}</span><img  src="../EXODUS/img/flag/ENG_small_horiz.png">  English</a></li>
                        <li><a href="#" ng-click="changeLang('RUS')"><span >{{langDirective.RUS}}</span><img src="../EXODUS/img/flag/RUS_small_horiz.png">  Русский</a></li>
                        <li><a href="#" ng-click="changeLang('HEB')"><span >{{langDirective.HEB}}</span><img src="../EXODUS/img/flag/HEB_small_horiz.png">  עברית</a></li>
                        <li><a href="#" ng-click="changeLang('FRA')"><span >{{langDirective.FRA}}</span><img src="../EXODUS/img/flag/FRA_small_horiz.png">  Français</a></li>
                    </ul>   
                </li>

            </ul>


        </div>
    </div>
</nav>

<section>
    <div class="fixed-left centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
    </div>
    <div class="fixed-right centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
    </div>

    <div class="container" >
        <div class="row ">
            <div class="col-md-12 ">
                <div class="news ">
                    <img src="img/img2/news.png" width=100%>
                </div>
            </div>
        </div>


        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12 search" >
                    <div class="row">
                        <div class="col-md-11">

                            <div class="row ltrRtl">

                                <div class="col-md-3 ">
                                    <form role="form ">

                                        <div class="form-group" >

                                            <div class="input-group">

                                                <ui-select multiple ng-model="ctrl.region.selected" theme="bootstrap" ng-disabled="ctrl.disabled"
                                                           title="Choose a region">
<!--
                                                    on-select="onSelectCallback(ctrl.region.selected)
-->
                                                    <ui-select-match placeholder="Select or search a region...">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices repeat="region in ctrl.regions | startsWith: $select.search ">
                                                        <span ng-bind-html="region.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                                <span class="input-group-btn">
                                                        <button type="button" ng-click="ctrl.region.selected = undefined" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="form-group">

                                                <div class="input-group">

                                                    <ui-select multiple ng-model="ctrl.city.selected"
                                                               theme="bootstrap"
                                                               close-on-select="true"
                                                               ng-disabled="ctrl.disabled"
                                                               title="Choose a city"
                                                               id="selectedRegions"
                                                               ng-select="checkTheParent(ctrl.region.selected)"
                                                               ng-change="ctrl.street.selected = undefined; ctrl.building.selected = undefined">
<!--
                                                        ng-select="checkTheParent(ctrl.region.selected)"
-->
                                                        <ui-select-match placeholder="Select or search a city...">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="city in ctrl.cities |filter:$select.search | onParent: ctrl.region.selected
                                                                                    | startsWith: $select.search | orderBy:'name'"
                                                                           position='down'>
                                                            <span ng-bind-html="city.name | highlight: $select.search"></span>
                                                            <!--<small ng-bind-html="city.region | highlight: $select.search"></small>-->
                                                        </ui-select-choices>
                                                    </ui-select>

                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="ctrl.city.selected = undefined" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </span>

                                                </div>

                                        </div>
                                    </form>
                                </div>

                                <div class="col-sm-3">

                                    <form role="form">

                                        <div class="form-group">

                                            <div class="input-group">

                                                <ui-select multiple ng-model="ctrl.category.selected" theme="bootstrap"  close-on-select="true" ng-disabled="ctrl.disabled"
                                                           title="Choose a category">
                                                    <ui-select-match placeholder="Select or search category...">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices repeat="category in ctrl.categories | filter: $select.search "
                                                                       position="down">
                                                        <span ng-bind-html="category.name | highlight: $select.search"></span>
                                                        <!--<small ng-bind-html="city.region | highlight: $select.search"></small>-->
                                                    </ui-select-choices>
                                                </ui-select>

                                                <span class="input-group-btn">
                                                        <button type="button" ng-click="ctrl.category.selected = undefined" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </span>

                                            </div>

                                        </div>
                                        <!--<div class="form-group">
                                            <input type="text" class="form-control" id="company_input"
                                                   ng-model="company"
                                                   ng-keyup="keyUpFunc(ctrl.region.selected, ctrl.city.selected, ctrl.street.selected, ctrl.building.selected, ctrl.category.selected, phonenumber, company)"
                                                   ng-init=""
                                                   placeholder={{lang.nameBus}} />
                                        </div>-->
                                        <div class="form-group" >
                                            <div class="input-group">

                                                <ui-select ng-model="ctrl.company.selected"
                                                           theme="selectize"
                                                           ng-disabled="ctrl.disabled"
                                                           ng-keyup="keyUpFunc(ctrl.region.selected, ctrl.city.selected, ctrl.street.selected,
                                                    ctrl.building.selected, ctrl.category.selected, phonenumber, $select.search)"
                                                           title="Choose a company">

                                                    <ui-select-match placeholder="Company..." >{{$select.selected.name}}</ui-select-match>

                                                    <ui-select-choices repeat="company in ctrl.companies | filter: $select.search"
                                                                       refresh="ctrl.refreshCompany($select.search)"
                                                                       refresh-delay="0"
                                                                       position='down'
                                                                       minimum-input-length="3" >
                                                        <div ng-bind-html="company.name | highlight: $select.search"></div>

                                                    </ui-select-choices>
                                                    <!--<ui-select-no-choice>
                                                        Type at least 3 chars for options to load
                                                    </ui-select-no-choice>-->
                                                </ui-select>

                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="ctrl.company.selected = undefined" class="btn btn-default">
                                                         <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>

                                            </div>
                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-3 ">
                                    <form role="form">
                                        <div class="form-group" >
                                            <div class="input-group">
                                                <ui-select multiple
                                                           ng-model="ctrl.street.selected"
                                                           theme="bootstrap"
                                                           ng-disabled="ctrl.disabled"
                                                           title="Choose a street"
                                                           ng-change="checkChildren(ctrl.street.selected)">
                                                    <ui-select-match placeholder="Select or search a street...">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices repeat="street in ctrl.streets | filter: $select.search
                                                                                | onParent: ctrl.city.selected | onGrandParent: ctrl.region.selected | filter:$select.search | orderBy:'name'"
                                                                       position='down'>
                                                        <span ng-bind-html="street.name | highlight: $select.search"></span>
                                                        <small ng-bind-html="street.city | highlight: $select.search" style="color:red"></small>
                                                    </ui-select-choices>
                                                </ui-select>

                                                <span class="input-group-btn">
                                                        <button type="button" ng-click="ctrl.street.selected = undefined; ctrl.building.selected = undefined" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input ng-bind="lang.numPhone" ng-model="ctrl.phone.selected" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" type="text" class="form-control" id="telephone_input"
                                                   placeholder="" />
                                        </div>

                                    </form>
                                </div>

                                <div class="col-md-3 ">
                                    <form role="form">

                                        <div class="form-group">

                                            <div class="input-group">

                                                <ui-select multiple
                                                           ng-model="ctrl.building.selected"
                                                           theme="bootstrap"
                                                           close-on-select="true"
                                                           position="down"
                                                           ng-disabled="!ctrl.street.selected">
                                                    <ui-select-match placeholder="Select or search building...">{{$item.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item in ctrl.buildings | filter: $select.search | onParent: ctrl.street.selected"
                                                                       value = "" selected>
                                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                        <small ng-bind-html="item.street | highlight: $select.search" style="color:red"></small>
                                                        <small ng-bind-html="item.city | highlight: $select.search" style="color:blue"></small>
                                                    </ui-select-choices>
                                                </ui-select>

                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="ctrl.building.selected = undefined" class="btn btn-default">
                                                         <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>

                                            </div>

                                        </div>

                                    </form>
                                    <div class="map-style">
                                        <div class="btn-group">
                                            <a id="default_btn" href="#" class="btn btn-dark">Change Map Style</a>
                                            <a href="#" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                            <ul class="dropdown-menu dark" role="menu" aria-labelledby="dropdownMenu">
                                                <li><a id="retro_btn" href="#">Retro's view</a></li>
                                                <li><a id="night_btn" href="#">Night's view</a></li>
                                                <li><a id="auberg_btn" href="#">Aubergine's view</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 searchbutton">

                            <!--<a href="#" ng-click = "getObject(selectedRegion, selectedCity, selectedStreet, selectedBld,
                            selectedCategory, company, phonenumber)"><img src="img/img2/search.png" width="70" height="70" alt="logo"/></a>-->
                            <a href="#" ng-click = "getSearchResult(ctrl.region.selected, ctrl.city.selected, ctrl.street.selected, ctrl.building.selected,
                            ctrl.category.selected, ctrl.phone.selected, ctrl.company.selected)"><img src="img/img2/search.png" width="70" height="70" alt="logo"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid main ">

<!--
            <ng-include src="'home.html'" ng-show="currentView=='home'"></ng-include>
-->

            <ng-include src="'registration.html'" ng-show="currentView=='reg'"></ng-include>
            <ng-include src="'about.html'" ng-show="currentView=='about'"></ng-include>
            <ng-include src="'rubricator.html'" ng-show="currentView=='cat'"></ng-include>
            <ng-include src="'contacts.html'" ng-show="currentView=='contacts'"></ng-include>
            <ng-include src="'terms.html'" ng-show="currentView=='terms'"></ng-include>




            <!-- Search result block -->


            <div class="col-md-12 " ng-show="currentView=='home'">
                <div class="row company-block ">
                    <!-- Companies block -->
                    <div class="col-md-6 companies elemDivCompanies">
<!--

--><!--
                        <div class="col-md-12 " style="background-color: #d9d9d9">
                            <div style="text-align: center"></div>
&lt;!&ndash;
                            <span ng-bind="searchDesc"></span>
&ndash;&gt;
                            <span ng-bind="description"></span>-->
<!--
                            <span ng-model="ctrl.city.selected">is city changed? {{cityChanged}}</span>
-->
                       <!-- </div>-->
<!--
                        ng-model="companiesRes"
-->
                             <div class="col-md-12 " ng-bind="description" style="background-color: #d9d9d9"></div>
                             <div class="col-md-12" ng-model = "companiesRes" >
                                    <div class="" ng-repeat="item in companiesArr">
                                        <div class="col-md-2">
                                            <img src="{{item.logo}}" alt="logo" class="logo company-logo" align="left" >
                                        </div>
                                        <div class="col-md-10">
                                            <p ng-bind="item.name" class="company-name h3"></p>
                                            <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                            <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                            <p class="company-info h7">

                                                <span ng-repeat="cat in item.categories" ng-click="sendRequestOnCategory(cat)">
                                                    {{cat.name}} /
                                                </span>
                                            <div >
                                                Address: <span href="#" onclick="isMarker(innerText)" ng-bind="item.address"><!--{{item.address}}--></span> <br>
                                        </div>
                                                Phone: {{item.tel}} <br>
                                                E-mail: <a href ="#" ng-click = "sendEmail(item.email)" style="font-style: italic; text-decoration: underline">Send e-mail</a> <br>
                                                <a href="http:\\www.{{item.web}}">http:\\www.{{item.web}}</a><br>

                                            </p>
                                        </div>

                                    </div>
                        </div>

                       <!-- <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >

                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>-->
                    </div>

                        <!-- Map block -->
                        <div class="col-md-6">
                            <div class="map img-responsive no-gutters" id="map"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

<footer>
    <div class="container">
        <div class="col-md-12 centered">
            <div class="row">
                <p>Made by "The Ultimate Nerds"</p>
            </div>
        </div>

    </div>

</footer>






 <!--jQuery first, then Tether, then Bootstrap JS.-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>

//    var map;
//    var markers = [];
//
//    function initMap() {
//        var initLocation = {center: new google.maps.LatLng(32.080126, 34.784199), zoom: 8};
//        map = new google.maps.Map(document.getElementById('map'), initLocation);
//
//        getPoints();
//    }

//    function isMarker(address) {
//        //console.log("!!!URA!!!" + address);
//        clearMarkers();
//        geocoder = new google.maps.Geocoder();
//        addOneMarkerWithTimeout(address, 300);
//    }

//    google.maps.event.addDomListener(window, 'load', initMap);

/*{
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat,lng),
            map: map,                            // Карта на которую нужно добавить маркер
            title: item.name // (Необязательно) Текст выводимый в момент наведения на маркер
        })*/



</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXT4gsQJyClX3CSR_XBD0J1YEJ0VSbCs4&callback=initMap">
</script>
<script src="js/map.js"></script>
<script type="text/javascript" src="js/geoScript.js"></script>


<script type="text/javascript" src="js/navigation.js"></script>
<!--<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/main.js"></script>-->


</body>
</html>