<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>EXODUS PROJECT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="css/style_new_for_index_2.css">
    <link rel="stylesheet" href="css/style_for_registration.css">
    <link rel="stylesheet" href="css/stylesheets/framework.css">
    <link rel="stylesheet" href="css/stylesheets/loader.css">
    <link rel="stylesheet" href="css/ltrRtl.css">

    <!--<link rel="stylesheet" href="css/style.css">-->

   <!-- <script src="../Libraries/angular_route.js"></script>
    <script src="../Libraries/angular_resource.js"></script>-->
    <script src="../Libraries/angular.js"></script>
    <script src="./js/MyApp.js"></script>
    <script src="./js/MyAppCtrl.js"></script>
    <script src="../Libraries/mask.js"></script>

    <link rel="shortcut icon" href="favicon.ico">
    <!-- -------------------------------------------------- -->
    <script type="text/javascript" src="../Libraries/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="../Libraries/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../Libraries/angular-ui-router.min.js" ></script>
    <script type="text/javascript" src="../Libraries/angular-animate.js" ></script>
    <script type="text/javascript" src="../Libraries/swiper.min.js" ></script>
    <script type="text/javascript" src="../Libraries/jquery.customSelect.min.js" ></script>
    <script type="text/javascript" src="../Libraries/ui-bootstrap-tpls-0.14.3.js" ></script>
    <script type="text/javascript" src="js/select-tpls.js"></script>
    <script type="text/javascript" src="js/LanguageService.js"></script>

</head>
<body ng-app="MyApp" ng-controller="MyAppCtrl" ng-init="initApp()" dir="{{lang.dir}}">

<!-- Navbar -->

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header ">
            <a class="navbar-brand" href="#"><img src="img/img2/exodus_logo.png" width="138" height="30"
                                                  alt="logo"/></a>
            <a class="navbar-brand" href="#"><img src="img/img2/thlg.png" width="128" height="30" alt="logo2"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" ng-click="goToView('home')">{{lang.home}} <span class="sr-only"></span></a></li>
                <li><a href="#" ng-click="goToView('reg')">{{lang.registration}}</a></li>
                <li><a href="#" ng-click="goToView('terms')">{{lang.terms}}</a></li>
                <li><a href="#" ng-click="goToView('cat')">{{lang.rubricator}}</a></li>
                <li><a href="#" ng-click="goToView('contacts')">{{lang.contacts}}</a></li>
                <li><a href="#" ng-click="goToView('about')">{{lang.about}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="changeLang('ENG')"><span >{{langDirective.ENG}}</span><img  src="../EXODUS/img/flag/ENG_small_horiz.png">  English</a></li>
                        <li><a href="#" ng-click="changeLang('RUS')"><span >{{langDirective.RUS}}</span><img src="../EXODUS/img/flag/RUS_small_horiz.png">  Русский</a></li>
                        <li><a href="#" ng-click="changeLang('HEB')"><span >{{langDirective.HEB}}</span><img src="../EXODUS/img/flag/HEB_small_horiz.png">  עברית</a></li>
                        <li><a href="#" ng-click="changeLang('FRA')"><span >{{langDirective.FRA}}</span><img src="../EXODUS/img/flag/FRA_small_horiz.png">  Français</a></li>
                    </ul>   
                </li>

            </ul>


        </div>
    </div>
</nav>



<!-- Main section -->

<section>
    <div class="fixed-left centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
    </div>
    <div class="fixed-right centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
        <img src="img/img2/adverdiv2.png" class="img-responsive img-hidden centered">
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="news ">
                    <img src="img/img2/news.png" width=100%>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 search">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="row">


                                <div class="col-md-3 ">
                                    <form role="form ">

                                        <div class="form-group">
                                            <!--<input type="text" class="form-control" id="region_input"
                                                   placeholder="region"/>-->

                                            <select class="form-control" id="region_input"
                                                    ng-model="selectedRegion"
                                                    ng-options="r.name for r in regions"

                                                     >

                                                <option value = "" selected>{{lang.region}}</option>

                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <!--<input type="text" class="form-control" id="city_input"
                                                   placeholder="city"/>-->

                                            <select class="form-control" id="city_input"
                                                    ng-model="selectedCity"
                                                    ng-options="c.name for c in cities | filter:{regionId: selectedRegion.id}:true | orderBy: 'name' | limitTo:50"
                                            >
                                                <option value = "" selected>{{lang.city}}</option>
                                            </select>

                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-3">
                                    <form role="form">

                                        <div class="form-group">
                                            <!--<input type="text" class="form-control" id="classifier_input"
                                                   placeholder="classifier"/>-->

                                            <select class="form-control" id="classifier_input"
                                                    ng-model="selectedCategory"
                                                    ng-options="cat.name for cat in categories">
                                                <option value = "" selected>{{lang.category}}</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="company_input"
                                                   ng-model="company"
                                                   placeholder={{lang.nameBus}} />
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-3">
                                    <form role="form">

                                        <div class="form-group">
                                           <!-- <input type="text" class="form-control" id="street_input"
                                                   placeholder="street"/>-->

                                            <select class="form-control" id="street_input"
                                                    ng-model="selectedStreet"
                                                    ng-options="g.name for g in streets | filter:{cityId: selectedCity.id}:true | orderBy: 'name'| limitTo:50">
                                                <option value = "" selected>{{lang.nameStreet}}</option>
                                            </select>


                                        </div>
                                        <div class="form-group">
                                            <input ng-model="phonenumber" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" type="text" class="form-control" id="telephone_input"
                                                   placeholder="{{lang.numPhone}}" />
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-3">
                                    <form role="form">

                                        <div class="form-group">
                                          <!--  <input type="text" class="form-control" id="house_input"
                                                   placeholder="house" disabled/>-->

                                            <select class="form-control" id="house_input"
                                                    ng-model="selectedBld"
                                                    ng-options="b.name for b in buildings | filter:{streetId: selectedStreet.id}:true | orderBy: 'name'| limitTo:50">
                                                <option value = "" selected>{{lang.numHome}}</option>
                                            </select>

                                        </div>

                                    </form>
                                    <div class="map-style">
                                        <div class="btn-group">
                                            <a id="default_btn" href="#" class="btn btn-dark">Change Map Style</a>
                                            <a href="#" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                            <ul class="dropdown-menu dark">
                                                <li><a id="retro_btn" href="#">Retro</a></li>
                                                <li><a id="night_btn" href="#">Night</a></li>
                                                <li><a id="auberg_btn" href="#">Aubergine</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 searchbutton">

                            <!--<a href="#" ng-click = "getObject(selectedRegion, selectedCity, selectedStreet, selectedBld,
                            selectedCategory, company, phonenumber)"><img src="img/img2/search.png" width="70" height="70" alt="logo"/></a>-->
                            <a href="#" ng-click = "getCompList(selectedRegion, selectedCity, selectedStreet, selectedBld,
                            selectedCategory, company, phonenumber)"><img src="img/img2/search.png" width="70" height="70" alt="logo"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid main">

<!--
            <ng-include src="'home.html'" ng-show="currentView=='home'"></ng-include>
-->

            <ng-include src="'registration.html'" ng-show="currentView=='reg'"></ng-include>
            <ng-include src="'about.html'" ng-show="currentView=='about'"></ng-include>
            <ng-include src="'rubricator.html'" ng-show="currentView=='cat'"></ng-include>
            <ng-include src="'contacts.html'" ng-show="currentView=='contacts'"></ng-include>
            <ng-include src="'terms.html'" ng-show="currentView=='terms'"></ng-include>




            <!-- Search result block -->


            <div class="col-md-12 " ng-show="currentView=='home'">
                <div class="row company-block">
                    <!-- Companies block -->
                    <div class="col-md-6 companies ">


                        <div ng-model="companiesRes" ng-repeat="item in companiesArr" class="col-md-12 ">
                            <div class="">
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">{{item.name}}</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: {{item.address}}<br>
                                    Телефон: {{item.tel}} <br>
                                    Электропочта: {{item.email}} <br>
                                    <a href="#">{{item.web}}</a><br>
                                    Категории: <a href="#">{{item.categories}}</a>
                                </p>
                            </div>
                        </div>


                        <div class="col-md-12 ">
                            <div class="">
                            <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                            <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                            <p class="company-info h7">
                            Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                            Телефон: 03 - 9142237 <br>
                            Электропочта: info@egged.co.il <br>
                            <a href="#">http://www.egged.co.il/</a>
                            </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >

                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <img src="img/logo_dan.png" alt="logo" class="logo company-logo" align="left" >
                                <p class="company-name h3">Company "DAN"</p>
                                <a href="#"><i class="fa fa-info-circle company-ad-info icons small"></i></a>
                                <a href="#"><i class="fa fa-map-marker company-ad-info icons small"></i></a>
                                <p class="company-info h7">
                                    Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>
                                    Телефон: 03 - 9142237 <br>
                                    Электропочта: info@egged.co.il <br>
                                    <a href="#">http://www.egged.co.il/</a>
                                </p>
                            </div>
                        </div>
                    </div>

                        <!--<div class="companies">-->

                            <!--&lt;!&ndash; Element start &ndash;&gt;-->
                            <!--<div class="row element">-->
                                <!--<div class="col-md-2 ">-->
                                    <!--<div>-->
                                        <!--<img src="img/logo_dan.png" alt="logo" class="logo" >-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-8">-->
                                    <!--<p class="company-name">Company "DAN"</p>-->
                                    <!--<p class="company-info">-->
                                        <!--Адрес: Бейт-Даган | Сд. Менахем Бегин, 5 <br>-->
                                        <!--Телефон: 03 - 9142237 <br>-->
                                        <!--Электропочта: info@egged.co.il <br>-->
                                        <!--<a href="#">http://www.egged.co.il/</a>-->
                                    <!--</p>-->
                                <!--</div>-->
                                <!--<div class="col-md-2">-->
                                    <!--<a href="#"><i class="fa fa-info-circle"></i></a>-->
                                    <!--<a href="#"><i class="fa fa-map-marker"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; Element end &ndash;&gt;-->


                        <!--</div>-->

                        <!-- Map block -->
                        <div class="col-md-6">
                            <div class="map img-responsive no-gutters" id="map"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>




</section>

<footer>
    <div class="container">
        <div class="col-md-12 centered">
            <div class="row">
                <p>Made by "The Ultimate Nerds"</p>
            </div>
        </div>

    </div>

</footer>






<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>

    var map;
    var markers = [];

    function initMap() {
        var initLocation = {center: new google.maps.LatLng(32.080126, 34.784199), zoom: 8};
        map = new google.maps.Map(document.getElementById('map'), initLocation);

        getPoints();
    }

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXT4gsQJyClX3CSR_XBD0J1YEJ0VSbCs4&callback=initMap">
</script>
<script src="js/map.js"></script>


<script type="text/javascript" src="js/navigation.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</body>
</html>